@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
}


.business-model-section {
    background-image: url(../../Assets/pictures/WhatsApp\ Image\ 2025-07-27\ at\ 17.46.40_11bc745a.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    position: relative;
    min-height: 100vh;
    color: #000;
}

.subtitle {
    color: #00cfe8;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000;
    line-height: 1.3;
}

.circle-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    height: 550px;
}

.circle {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    width: 180px;
    height: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

.circle img {
    width: 100px;
    margin-top: 25px;
}

.circle p {
    width: 90px;
    font-size: 22px;
    font-weight: 600;
    transform: translateY(60px);
}

.center {
    background-color: #bde3e1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.top-left {
    top: 180px;
    left: 5%;
    background-color: #bde3e1;
}

.top-right {
    top: 180px;
    right: 5%;
    background-color: #bde3e1;
}

.bottom-center {
    bottom: 0;
    background-color: #bde3e1;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .circle-container {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .circle {
        position: static;
        transform: none !important;
    }
}